{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contnet="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Tienda Deportiva</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/fuente1.png' %}">

</head>

<body>

    <div class="head">

        <div class="logo">
            <a href="#">Tienda Deportiva</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Camisas</a>
            <a href="#">Contactos</a>
        </nav>

    </div>

    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Ipsam necessitatibus odio quisquam reprehenderit quas, 
             obcaecati, harum hic molestiae sequi ipsa nihil id tempore explicabo 
            libero vero quia asperiores similique dicta.
        </p>

        <div class="btn-home">
            <a href="#" class="btn">Saber mas</a>
        </div>
    </header>

    <section class="content sau">

        <h2 class="title">Productos</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
            elit. Veritatis excepturi dolore, harum asperiores 
            cupiditate officiis quia odit reiciendis quidem iure 
            architecto laudantium 
            nihil saepe pariatur vel labore molestias consectetur veniam?</p>
        
        <div class="btn-home">
                <a href="#" class="btn">Saber mas</a>
        </div>
        <div class="box-container">

            <div class="box">
                <i class="fab fa-android"></i>
                <h3>Android</h3>
            </div>

            <div class="box">
                <i class="fab fa-apple"></i>
                <h3>IOS</h3>
            </div>

            <section class="content contact">
                <h2 class="title">Contacto</h2>
                <p>2343434</p>
                <figure class="map">
                    <img src="{% static 'img/mapa.png' %}" height="220px" width="100%" alt="mapa">
                </figure>
            </section>

        </div>
</body>