{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contnet="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Camisas</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/estiloprod.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/fuente1.png' %}">

</head>

<body>
    <header class="content producto">
        <h2 class="title">Camisas Mudialistas</h2>
        <p>
            Lleva tu camisa en temporada del mundial.
        </p>

        <section class="content articluo">
            <figure class="Articulo">
                <img src="{% static 'img/Argentina.jpg' %}" height="220px" width="100%" alt="Argentina">
            </figure>
            <h3>Argentina 2022</h3>
            <h3>Tallas S,M,L</h3>
            <h3>$ 150.000</h3>

            <div class="btn-Argentina">
                <a href="#" class="btn">agregar</a>
            </div>
        </section>

        <section class="content articluo">
            <figure class="Articulo">
                <img src="{% static 'img/Alemania.jpg' %}" height="220px" width="100%" alt="Alemania">
            </figure>
            <h3>Alemania 2022</h3>
            <h3>Tallas S,M,L</h3>
            <h3>$ 150.000</h3>

            <div class="btn-Alemania">
                <a href="#" class="btn">agregar</a>
            </div>
        </section>

        <section class="content articluo">
            <figure class="Articulo">
                <img src="{% static 'img/Brasil.jpg' %}" height="220px" width="100%" alt="Brasil">
            </figure>
            <h3>Brasil 2022</h3>
            <h3>Tallas S,M,L</h3>
            <h3>$ 150.000</h3>

            <div class="btn-Brasil">
                <a href="#" class="btn">agregar</a>
            </div>
        </section>

        <section class="content articluo">
            <figure class="Articulo">
                <img src="{% static 'img/Belgica.jpg' %}" height="220px" width="100%" alt="Belgica">
            </figure>
            <h3>Belgica 2022</h3>
            <h3>Tallas S,M,L</h3>
            <h3>$ 150.000</h3>

            <div class="btn-Brasil">
                <a href="#" class="btn">agregar</a>
            </div>
        </section>

        <section class="content articluo">
            <figure class="Articulo">
                <img src="{% static 'img/España.jpg' %}" height="220px" width="100%" alt="España">
            </figure>
            <h3>España 2022</h3>
            <h3>Tallas S,M,L</h3>
            <h3>$ 150.000</h3>

            <div class="btn-España">
                <a href="#" class="btn">agregar</a>
            </div>
        </section>
    </header>
</body>